.full-width-table {
  width: 100%;
}

.password-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.password-full-width {
  width: 100%;
}

.password-card, .spinner-card {
  padding: 20px;
  margin: 20px;
}

.message {
  text-align: center;
  padding: 20px;
}